<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
    <header> 
    <div class="header-top">
     <div>  
      <img src = "images/images_logo-mercado-liebre.svg" width="135 px" >
     </div>
     <div class="barra-busqueda">
      <input type="search" name="search" placeholder="Buscar productos, marcas y más">
      <i class="fa-solid fa-magnifying-glass lupa" ></i>
     </div>
       <p class="cuerpos-de-texto"> <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin trajeta de crédito</p>
     </div>
    </div>
      <nav>
        <ul type = "none" class="cuerpos-de-texto">
            <li> Ofertas</li>
            <li> Tiendas oficiales</li>
            <li> Vender</li>
            <li> Ayuda</li>
            <li> Ofertas</li>
            
        </ul>     
        <ul type = "none" class="cuerpos-de-texto">
            <li>Creá tu cuenta <i class="fa-regular fa-id-card"></i> </li>
            <li>Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></li>
            <li>Mis compras <i class="fa-solid fa-basket-shopping"></i></li>
        </ul>
      </nav>
     <div class="burger-menu">
        <i class="fas fa-bars"></i>
     </div> 
     
    </header>
    <main>
        <div> 
            <img src="images/images_img-home-banner.jpg" style="width:100%">
        </div>
        <h2> Basado en tu  ultima visita </h2>
        <div class="articulos">
        <article>
          <div>
          <img src="images/images_img-cafetera-moulinex.jpg">
          <div class="article-description">
            <div class="article-icon">
              <i class="fa-solid fa-truck"></i>
            </div>
            <div class="article-flex">
              <p class="article-price"> $6.770</p>
              <p class="article-discount"> 40% OFF</p>
            </div>
              <p class="article-name"> Cafetera Moulinex</p>
          </div>
        </div>
        </article>
        <article>
          <div>
          <img src="images/images_img-macbook-pro-2019.jpg">
          <div class="article-description">
            <div class="article-icon">
              <i class="fa-solid fa-truck"></i>
            </div>
            <div class="article-flex">
              <p class="article-price"> $230.000</p>
              <p class="article-discount"> 20% OFF</p>
            </div>
              <p class="article-name">MacBook Pro 2019</p>
          </div>
        </div>
        </article>
        <article>
          <div>
          <img src="images/images_img-samsung-galaxy-s10.jpg">
          <div class="article-description">
            <div class="article-icon">
              <i class="fa-solid fa-truck"></i>
            </div>
            <div class="article-flex">
              <p class="article-price"> $70.500</p>
              <p class="article-discount"> 10% OFF</p>
            </div>
              <p class="article-name">Samsung Galaxy S10</p>
          </div>
        </div>
        </article>
        <article>
          <div>
          <img src="images/images_img-tv-samsung-smart.jpg">
          <div class="article-description">
            <div class="article-icon">
              <i class="fa-solid fa-truck"></i>
            </div>
            <div class="article-flex">
              <p class="article-price"> $23.200</p>
              <p class="article-discount"> 5% OFF</p>
            </div>
              <p class="article-name">SmartTv Samsung 43"</p>
          </div>
        </div>
        </article>
      </div>
        <h2> Ofertas </h2>
        <div class="articulos">
          <article>
            <div>
            <img src="images/images_img-cafetera-moulinex.jpg">
            <div class="article-description">
              <div class="article-icon">
                <i class="fa-solid fa-truck"></i>
              </div>
              <div class="article-flex">
                <p class="article-price"> $6.770</p>
                <p class="article-discount"> 40% OFF</p>
              </div>
                <p class="article-name"> Cafetera Moulinex</p>
            </div>
          </div>
          </article>
          <article>
            <div>
            <img src="images/images_img-macbook-pro-2019.jpg">
            <div class="article-description">
              <div class="article-icon">
                <i class="fa-solid fa-truck"></i>
              </div>
              <div class="article-flex">
                <p class="article-price"> $230.000</p>
                <p class="article-discount"> 20% OFF</p>
              </div>
                <p class="article-name">MacBook Pro 2019</p>
            </div>
          </div>
          </article>
          <article>
            <div>
            <img src="images/images_img-samsung-galaxy-s10.jpg">
            <div class="article-description">
              <div class="article-icon">
                <i class="fa-solid fa-truck"></i>
              </div>
              <div class="article-flex">
                <p class="article-price"> $70.500</p>
                <p class="article-discount"> 10% OFF</p>
              </div>
                <p class="article-name">Samsung Galaxy S10</p>
            </div>
          </div>
          </article>
          <article>
            <div>
            <img src="images/images_img-tv-samsung-smart.jpg">
            <div class="article-description">
              <div class="article-icon">
                <i class="fa-solid fa-truck"></i>
              </div>
              <div class="article-flex">
                <p class="article-price"> $23.200</p>
                <p class="article-discount"> 5% OFF</p>
              </div>
                <p class="article-name">SmartTv Samsung 43"</p>
            </div>
          </div>
          </article>
        </div>
    </main>
    <footer>
      <div class="main-footer">
        <div class="footer"> 
           <i class="fa-solid fa-credit-card"></i>
           <h3> Pagá con tarjeta o en efectivo</h3>  
           <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div> 
        <div class="footer"> 
           <i class="fa-solid fa-gift"></i>
           <h3> Envío gratis desde $ 2.500</h3>   
           <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div class="footer"> 
            <i class="fa-solid fa-user-shield"></i>    
            <h3> Seguridad, de principio a fin</h3>
            <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        </div>
      </div> 
      <h5> Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
    </footer>
    
</body>
</html>